.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #101d2d;
  text-align: center;  
  color: white;
}

.App-loader {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: circleLoading 1s linear infinite;
}
.App-loader::after {
  content: "Redux Counter";
  background: #101d2d;
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
}

.App-loader span {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: circleLoading 1s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}
.App-loader span:nth-child(1) {
  filter: blur(5px);
}
.App-loader span:nth-child(2) {
  filter: blur(10px);
}
.App-loader span:nth-child(3) {
  filter: blur(25px);
}
.App-loader span:nth-child(4) {
  filter: blur(50px);
}

@keyframes circleLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.App-button {    
  cursor: pointer;
  outline: none;
  margin-left: 8px;
  display:inline-block;
  padding: 8px;
  border-radius:8px;   
  height:60px;
  border:none;
  background-color:#F93C64;
  color:white;
  font-size:16px;    
  transition: .5s ease-in;  
}

.App-button:hover{
  box-shadow:0 14px 6px 0 rgba(93,93,93,.25), 0 1px 3px 0 rgba(0,0,0,.15);
  background-color:#c0003a;
  transform:translateY(-4px);
  transition:opacity 1s cubic-bezier(.645,.045,.355,1),-webkit-transform .8s cubic-bezier(.645,.045,.355,1);
}



